.bottles__main {
  width: 100vw;
  padding: 100px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 815px) {
    flex-direction: column;
    align-items: center;
  }
  &-box {
    flex: 0 0 30%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(2) {
      margin-top: 40px;
    }
    img {
      width: 100%;
    }
  @media (max-width: 1190px) {
    flex: 0 0 47%;
    max-width: 500px;
    margin-bottom: 40px;
    &:nth-child(2) {
      margin-top: 0;
    }
  }
    @media (max-width: 815px) {
      flex: 0 0 70%;
      max-width: 400px;
    }
    .btn-group {
      transform: translate(-10px, -50px);
      width: 100% !important;
    }
  }
}

button {
  padding: 0 !important;
  vertical-align: top;
  font-size: 20px !important;
}