.bottles__main {
  width: 100vw;
  padding: 100px 5%;
  display: flex;
  justify-content: space-between;

  &-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(2) {
      margin-top: 40px;
    }

    img {
      width: 100%;
    }

    .btn-group {
      transform: translate(-10px, -50px);
      width: 100% !important;
    }
  }
}

button {
  margin-top: -20px;
  padding: 0 !important;
  vertical-align: top;

  font-size: 1.8vw !important;
}