.paper__main {
  margin-top: 300px;
  max-width: 80%;
  min-width: 800px;
  padding: 150px 0;
  background: url("../../assets/paper.png") center / contain no-repeat;
  &--content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &--title {
    width: 80%;
    color: #1F1F1F;
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    padding: 0 20px;
    margin-bottom: 20px;
    @media (max-width: 820px) {
      font-size: 40px;
    }
  }
  @media (max-width: 820px) {
    min-width: 650px;
  }
  @media (max-width: 1190px) {
    margin-top: 100px;
  }
  @media (max-width: 455px) {
    min-width: 550px;
  }
  .main-btn {
    font-size: 20px !important;
    @media (max-width: 455px) {
      font-size: 18px !important;
    }
  }
}