.nft-pop-main {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;

  &__container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    position: relative;
    margin-top: 30px;
    width: 55vw;
    background-image: url("../../assets/nft-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    &:first-child {
      margin-top: 170%;
    }

    &:last-child {
      margin-top: 0 !important;
    }

    &--content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 10% 0;
      padding-bottom: 20%;

      &-img-container {
        width: 45%;
        background: rgba(255, 240, 186, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 4px 16px rgba(252, 230, 153, 0.19);
        backdrop-filter: blur(30px);
        margin-top: 5%;
        height: 100%;
        border-radius: 2vw;
        padding: 3% 3% 3.3% 3%;

        .nft-img {
          border-radius: 2vw;
          width: 100%;
          height: auto;
          margin-bottom: 20px;
        }

        .nft-title {
          font-family: 'Roboto Flex';
          font-style: normal;
          font-weight: 881;
          font-size: 2vw;
          line-height: 110%;
          color: #FFFFFF;
        }
      }

      .title {
        font-size: 4vw;
        margin: 0;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 881;
        line-height: 100%;
        text-align: center;
        color: #1A1A1A;
        margin-bottom: 2%;
      }

      .sub-title {
        font-size: 2vw;
        margin: 0;
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
        color: #1A1A1A;
      }
    }

    .close {
      position: absolute;
      top: 4%;
      right: 4%;
      height: 24px;
      width: 24px;
      z-index: 1000000;
      &:before,&:after{
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        display: block;
        left: 0;
        background: black;
      }
      &:before{
        top: 50%;
        transform: rotate(-45deg);
      }
      &:after{
        top: 50%;
        transform: rotate(45deg);
      }
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

