.main-btn {
  font-weight: 881;
	font-size: 22px;
	line-height: 140%;
	text-align: center;
	text-decoration: none;
  margin-top: 15px;
	padding-top: 30px;
	display: inline-block;
  border: none;
  cursor: pointer;
  background-size: contain !important;
  transition: all 0.1s;

  &:active {
    transform: scale(0.95);
  }

  &.yellow {
    color: #221D1A !important;
	  background: url("../../../assets/button.png") bottom center no-repeat;
  }
  &.blue {
    color: #FFF;
	  background: url("../../../assets/button2.png") bottom center no-repeat;
  }
  .btn_text{
    padding: 30px 80px;
    white-space: nowrap;
    @media (max-width:780px) {
      padding: 20px 60px;
    }
  }
}

.buy-btn {
  margin-top: 20px;
  background: rgba(255, 240, 186, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 14px 44px rgba(165, 118, 22, 0.75), inset 0 4px 16px rgba(252, 230, 153, 0.19);
  backdrop-filter: blur(30px);
  padding: 14px 30px !important;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 59px;
  width: 156px;
  height: 51px;
  font-size: 20px !important;
  margin-bottom: 15px;
}
