.main-btn {
  font-weight: 881;
	font-size: 22px;
	line-height: 140%;
	text-align: center;
	text-decoration: none;
	width: 330px;
	height: 105px;
	padding-top: 30px;
	display: inline-block;
  border: none;
  background-size: contain !important;

  &.yellow {
    color: #221D1A !important;
	  background: url("../../../assets/button.png") bottom center no-repeat;
  }
  &.blue {
    color: #FFF;
	  background: url("../../../assets/button2.png") bottom center no-repeat;
  }
}

.buy-btn {
  background: rgba(255, 240, 186, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 14px 44px rgba(165, 118, 22, 0.75), inset 0px 4px 16px rgba(252, 230, 153, 0.19);
  backdrop-filter: blur(30px);
  padding: 14px 30px;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 59px;
}