@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,900&display=swap");
$text-black: #1F1F1F;
$main-yellow: #F6D15D;
$main-blue: #1EDECB;

#WEB3_CONNECT_MODAL_ID {
  z-index: 100000000000 !important;
}

.header__main-text {
  display: flex;
  align-items: center;
  margin-right: 10% !important;
  a {
    margin-right: 16px !important;

    &:last-child {
      margin: 0 !important;
    }
  }
}

.header__main-nav {
  padding-top: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 100px;
  position: relative;
  @media (max-width: 770px) {
    padding-top: 30px !important;
    margin-bottom: 60px;
  }
  @media (max-width: 650px) {
    padding: 10px;
  }
  a, p {
    margin: 0;
    color: #FFF !important;
    text-decoration: none;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 881;
    font-size: 16px;
    line-height: 19px;
  }

  .connect-btn{
    font-size: 18px !important;
    transform: translateY(-10px);
    cursor: pointer;
    height: 50px !important;
    width: 200px !important;
    padding: 0 !important;
    
    .btn_text{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      font-size: 16px;

      @media (max-width: 440px) {
        padding: 15px 45px;
        font-size: 18px;
      }
    }

    &.mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
    &.desctop {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

}

.logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__main-logo {
  height: 70px;
  width: 70px;

  @media (max-width: 550px) {
  }
}

.main-page__title {
  font-weight: 881;
  font-size: 96px;
  color: #FFFFFF;
  text-align: center;
  max-width: 986px;
  margin: 0 10%;
  margin-bottom: 30px;

  @media (max-width: 770px) {
    font-size: 75px;
  }
  @media (max-width: 480px) {
    font-size: 35px;
  }
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  button {
    color: #FFF;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: none;
    padding: 8px 16px !important;
    margin-right: 24px;
    margin-top: 0;
    font-size: 22px !important;
    &:last-child{
      margin-right: 0;
    }
    &.active {
      outline: 3px solid #FFF;
    }
    @media (max-width: 770px) {
      flex: 0 0 auto !important;
      margin-right: 0;
    }
  }
}

.chests-block {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 5%;
  @media (max-width: 990px) {
    align-items: center;
    justify-content: center;
  }
}

.chest-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 30%;
  &--img {
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    @media (max-width: 990px) {
      max-width: 350px;

    }
  }
  &:nth-child(2) {
    margin-top: 50px;
  }
  @media (max-width: 1190px) {
    &:nth-child(2) {
      margin-top: 0;
    }
    flex: 0 0 50%;
    margin-bottom: 30px;
  }
  @media (max-width: 990px) {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .sub-text {
    font-size: 16px;
    margin: 0;
    color: #FFF;
    z-index: 500;
  }

  .btn-group {
    width: 100% !important;
  }
}

html, body, .App, #root {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
  background: #000;
}

.App {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  
  .lottery {
    margin-top: 4vh;
    font-size: 22px !important;
    padding-top: 0.1vw !important;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Flex';
}

.desctop {
  @media (max-width: 768px) {
    display: none;
  }
}

.buy-nft-btn {
  font-size: 22px !important;
}

.open-btn {
  margin-right: auto;
  background-color: transparent;
  width: 80px;
  height: 80px;
  background-image: url("./assets/компас.png");
  background-size: cover;
  border: none;
  transition: all 0.2s;
  
  &:active {
    transform: translateY(10px);
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.staking {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
  flex-direction: column;
  padding: 0 5%;

  &__cards-block {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.font-96 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 96px;
  line-height: 100%;
  @media (max-width: 520px) {
    font-size: 86px;
    margin: 30px 0 30px 0;
  }
}

.font-77 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 77px;
  line-height: 100%;
}

.font-72 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 72px;
  line-height: 100%;
}

.font-30 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 30px;
  line-height: 100%;
}

.font-24 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 24px;
  line-height: 100%;
}

.font-24-p {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}

.font-20 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 20px;
  line-height: 100%;
}

.font-16-p {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.nfts {
  margin-top: 100px;
  width: 100vw;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 478px);
  grid-gap: 30px;
}