$text-black: #1F1F1F;
$main-yellow: #F6D15D;
$main-blue: #1EDECB;

@font-face {
  font-family: "Roboto Flex";
  src: url("./assets/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("woff2");
}

html, body, .App, #root {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
  background: #000;
}

.App {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  
  .lottery {
    .main-btn {
      padding-top: 35px !important;
      font-size: 22px !important;
    }
  }
}

* {
  box-sizing: border-box;
}

.font-96 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 96px;
  line-height: 100%;
}

.font-77 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 77px;
  line-height: 100%;
}

.font-72 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 72px;
  line-height: 100%;
}

.font-30 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 30px;
  line-height: 100%;
}

.font-24 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 24px;
  line-height: 100%;
}

.font-24-p {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
}

.font-20 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 881;
  font-size: 20px;
  line-height: 100%;
}

.font-16-p {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
